h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}
div {
  width: 500px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
a {
  font-size: 25px;
  margin-left: 10px;
}
p {
  font-size: 20px;
}
.parent {
  display: flex;
}
a[target] {
  background-color: blanchedalmond;
}

[class~="one"] {
  background-color: red;
  color: #fff;
}
[class|="one"] {
  background: red;
  color: #fff;
}
[class^="one"] {
  background: red;
  color: #fff;
}
